body {
  padding-top: 75px;
  padding-bottom: 30px; }

footer {
  margin-top: 20px; }

.shift-container {
  padding-right: 5px;
  padding-left: 5px; }
  .shift-container .panel-body {
    padding: 7px 7px 10px; }

.datatable tbody tr.selected > td {
  color: black;
  font-weight: bold;
  background: lightgrey !important; }
.datatable tbody tr.claimed > td {
  color: black;
  background: gold; }
.datatable tbody tr.missing > td {
  background: #FF5B5B; }
.datatable tbody tr.assigned > td {
  background: #65DE5C; }
.datatable tbody tr.cancel > td {
  background: #94CBCB; }

tr > td.selected {
  color: black;
  font-weight: bold;
  background: lightgrey !important; }
tr > td.claimed {
  color: black;
  background: gold; }
tr > td.missing {
  background: #FF5B5B; }
tr > td.assigned {
  background: #65DE5C; }
tr > td.cancel {
  background: #94CBCB; }

#adminfooter {
  background-color: darkgrey; }

.corner-ribbon {
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  /* Different positions */
  /* Colors */ }
  .corner-ribbon.sticky {
    position: fixed; }
  .corner-ribbon.shadow {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
  .corner-ribbon.top-left {
    top: 25px;
    left: -50px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  .corner-ribbon.top-right {
    top: 25px;
    right: -50px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }
  .corner-ribbon.bottom-left {
    top: auto;
    bottom: 25px;
    left: -50px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }
  .corner-ribbon.bottom-right {
    top: auto;
    right: -50px;
    bottom: 25px;
    left: auto;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  .corner-ribbon.white {
    background: #f0f0f0;
    color: #555; }
  .corner-ribbon.black {
    background: #333; }
  .corner-ribbon.grey {
    background: #999; }
  .corner-ribbon.blue {
    background: #39d; }
  .corner-ribbon.green {
    background: #2c7; }
  .corner-ribbon.turquoise {
    background: #1b9; }
  .corner-ribbon.purple {
    background: #95b; }
  .corner-ribbon.red {
    background: #e43; }
  .corner-ribbon.orange {
    background: #e82; }
  .corner-ribbon.yellow {
    background: #ec0; }

/*  Bootstrap Clearfix */
/*  Tablet  */
@media (min-width: 767px) {
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1) {
    clear: none; }

  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1) {
    clear: left; } }
/*  Medium Desktop  */
@media (min-width: 992px) {
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1) {
    clear: none; }

  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1) {
    clear: left; } }
/*  Large Desktop  */
@media (min-width: 1200px) {
  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1) {
    clear: none; }

  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1) {
    clear: left; } }

/*# sourceMappingURL=application.css.map */
