body {
  padding-top: 95px;
  position: relative; }
  body font {
    family: 'Lato', sans-serif;
    weight: 300;
    color: #555; }

h1 {
  font-family: 'Lora', serif;
  font-weight: 700;
  color: #131333;
  text-shadow: 0 1px 1px #bbb, 0 2px 1px #b9b9b9, 0 3px 1px #aaa; }
  h1 .thick-shadow {
    text-shadow: 0 1px 1px #bbb, 0 2px 1px #b9b9b9, 0 3px 1px #aaa, 0 4px 1px #a9a9a9, 0 5px 1px #999, 0 6px 1px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.4), 0 3px 5px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.35), 0 10px 10px rgba(0, 0, 0, 0.3), 0 20px 20px rgba(0, 0, 0, 0.25); }

h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  text-shadow: 0 1px 1px #bbb, 0 2px 1px #b9b9b9, 0 3px 1px #aaa; }

.navbar-brand {
  font-family: 'Lora';
  font-weight: 900;
  text-shadow: 2px 2px 1px #163E66;
  line-height: 65px;
  font-size: 25px; }

.navbar.navbar-inverse {
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.3); }

ul.navbar-nav li {
  text-transform: uppercase; }

.wompy {
  font-size: 1.6em;
  font-style: italic; }

header {
  height: 80vh;
  background-image: url("../RallyHeader.jpg");
  background-color: #888;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  border-bottom: 5px solid #0A2270;
  position: relative; }
  @media (min-width: 1200px) {
    header {
      height: 85vh; } }
  header .container {
    padding-top: 10vh;
    color: #F5F6FA; }
    @media (min-width: 992px) {
      header .container {
        padding-top: 8vh; } }
  header .go-down {
    bottom: 4vh;
    position: absolute;
    color: #F5F6FA;
    width: 100%; }
    @media (min-width: 768px) {
      header .go-down {
        bottom: 5vh; } }
    header .go-down a {
      color: #f5f6fa;
      text-decoration: none; }
  header h1 {
    font-size: 10vw;
    line-height: 1.2em;
    color: #F5F6FA; }
    @media (min-width: 768px) {
      header h1 {
        font-size: 7vw; } }
  header p.subtitle {
    font-family: 'Lato', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 4.5vw; }
    @media (min-width: 768px) {
      header p.subtitle {
        font-size: 3vw; } }
    @media (min-width: 1200px) {
      header p.subtitle {
        font-size: 1.5vw; } }

@media screen and (max-width: 500px) {
  header .material-icons {
    font-size: 50px !important; } }
.material-icons.feature-lg {
  font-size: 144px; }

.material-icons.feature-md {
  font-size: 84px; }

section {
  padding-top: 10vh;
  padding-bottom: 10vh; }
  section h1 {
    text-align: center;
    margin-bottom: 5vh; }
  section#what {
    /* Background texture by subtlepatterns.com */
    background: #F5F6FA url("../handmadepaper.png");
    background-blend-bode: overlay; }
    section#what p {
      font-size: 1.3em; }
    section#what #quote {
      padding: 2vh 3vh;
      margin-bottom: 2vh; }
  section#how {
    background: #6e6e6e url("../handmadepaper.png");
    background-blend-mode: overlay;
    overflow: hidden; }
    section#how h2 {
      font-weight: 500; }
    section#how .material-icons {
      text-shadow: 0 1px 1px #bbb, 0 2px 1px #b9b9b9, 0 3px 1px #aaa; }
    section#how p {
      font-size: 1.3em;
      line-height: 1.5em; }
  section#start {
    background-color: #6ACCCC;
    color: #F5F6FA;
    padding-bottom: 20vh; }

#quote .quote {
  font-size: 1.8em;
  font-family: 'Lora';
  font-weight: 700;
  font-style: italic;
  margin: 0px 20px;
  text-align: justify; }
  #quote .quote:before {
    content: "\f10d";
    font-family: 'FontAwesome';
    font-size: 50px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.2);
    top: -30px;
    margin-right: -10px; }
  @media (min-width: 768px) {
    #quote .quote {
      font-size: 2.7em;
      font-margin: 0px 80px; }
      #quote .quote:before {
        font-size: 100px; } }

#quote .bern {
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  float: right;
  margin-bottom: 10px; }

.btn-start {
  font-size: 2em;
  padding: 20px 30px; }

footer {
  background-color: #34517B;
  padding-top: 3vh;
  padding-bottom: 3vh;
  color: #eee;
  font-family: 'Lato', sans-serif;
  font-weight: 400; }
  @media screen and (max-width: 992px) {
    footer .col-md-4 {
      text-align: center !important;
      padding-bottom: 10px; } }
  footer h3 {
    font-weight: 500;
    font-size: 1.5em;
    color: #F5F6FA;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 3px; }
  footer ul {
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
    padding: 0; }
    footer ul li {
      margin: 17px 0px; }
      footer ul li a {
        color: #f5f6fa;
        text-decoration: none; }
        footer ul li a:hover {
          text-decortaion: underline;
          color: #f5f6fa; }
  footer.subfooter {
    /*height: 60px;*/
    background: #1E3658;
    background-url: "http://api.thumbr.it/whitenoise-361x370.png?background=#112d4aff&noise=2d3a47&density=28&opacity=33"; }

/*# sourceMappingURL=landing.css.map */
