.panel.panel-danger
	.panel-heading
		h4.panel-title Assign Users to Shift
	.panel-body
		.row
			.col-md-6.col-md-offset-3.text-center
				table.table
					tr: th colspan="5" Assignment Key
					tr 
						td Pending
						td.claimed In Progress
						td.assigned Assigned
						td.cancel Cancelled
						td.missing Missing Info

		.pull-right
			strong> You currently have #{@my_shifts.count} signups for this shift &nbsp;
			- if (@my_shifts.count > 1) && (@my_shifts.select_map(:status).max == 0)
				=> link_to "Give Up All", url_for(:shifts, :forfeit, shift.id), :remote => true, :class => "btn btn-warning forfeit-btn btn-sm", :confirm => "Are you sure you want to cancel your shift?", :data => {:'shift-date' => shift.start_date.strftime('%A %D'), :'shift-id' => shift.id}
			- unless (@current_user.phone.blank? || @current_user.device.blank? || @current_user.tz.blank?) || shift.full?
				=link_to :class => "btn btn-sm btn-success signup-btn", :data => {:'shift-id' => shift.id}
						' Sign Up For Shifts

		h3 First Shifts

		.table-responsive
			table.table.table-bordered.datatable.first
				thead
					tr
						td width="10"
						/ th Time
						th Slack ID
						th Name
						th width="100" Phone
						th Device
						th Location
						th width="200" Availability
						th Assignment
						th Assigned by
						th width="10"

				tbody

				tfoot
					tr
						td width="10"
						/ th Time
						th Slack ID
						th Name
						th Phone
						th Device
						th Location
						th Availability
						th Assignment
						th Assigned by
						th width="10"

		h3 Extra Shifts

		.table-responsive
			table.table.table-bordered.datatable.extra
				thead
					tr
						td width="10"
						/ th Time
						th Slack ID
						th Name
						th width="100" Phone
						th Device
						th Location
						th width="200" Availability
						th Assignment
						th Assigned by
						th width="10"

				tbody

				tfoot
					tr
						td width="10"
						/ th Time
						th Slack ID
						th Name
						th Phone
						th Device
						th Location
						th Availability
						th Assignment
						th Assigned by
						th width="10"

.modal.fade#assignModal role="dialog" tabindex="-1"
	.modal-dialog.modal-lg
		.modal-content

nav.navbar.navbar-inverse.navbar-fixed-bottom#adminfooter style="padding-top: 10px; padding-bottom: 10px;"
	.container
		.btn-toolbar
			= link_to :id => "claim", :class => "btn btn-sm btn-warning", :data => {:status => "claimed" }, :title => "Mark users as Assignment in Progress", :confirm => "Mark selected rows as In Progress?"
				' In Progress
			a.btn.btn-sm.btn-success#assign title="Assign" Assign
			= link_to :id => "missing", :class => "btn btn-sm btn-danger", :confirm => "Mark selected rows as missing information?", :data => {:status => "missing" }, :title => "Mark that users are missing information"
				' Missing
			= link_to :id => "unassign", :class => "btn btn-sm btn-info", :confirm => "Unassign users in the selected rows?", :data => {:status => "cancel" }
				' Unassign
			p.clearfix.visible-xs
			= link_to :id => "reset", :class => "btn btn-sm btn-default", :confirm => "Reset the selected rows to PENDING (completely unassigned) state?", :title => "This will completely reset the row to unassigned status", :data => {:status => "pending" }
				' Reset Rows

- content_for(:assets) do
	css:
		body { padding-bottom: 45px;}
	= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.11/css/dataTables.bootstrap.min.css", "https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css", "https://cdn.datatables.net/buttons/1.1.2/css/buttons.dataTables.min.css"
			
- content_for(:scripts) do
	= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js", "https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js", "https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js", "https://cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js", "https://cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"
	javascript:
		$(document).ready(function() {
			var firstParams = {
				"dom": "<'row'<'col-sm-6'Bl><'col-sm-6'f>>" + "<'row'<'col-sm-12'tr>>" +  "<'row'<'col-sm-5'i><'col-sm-7'p>>",
				"processing": true,
				"paging": false,
				//"ordering": false,
				select: {
					style: 'os',
				},
				buttons: {
					buttons: ['selectAll', 'selectNone', 'csv', 'copy'],
					dom: {
						container: {
							className: "btn-toolbar",
						},
						button: {
							className: "btn btn-default",
						}
					}
				},
				ajax: {
					url: "#{{@assignment_url}}",
					method: "POST",
					dataSrc: "",
				},
				"deferRender": true,
				columns: [
					{
						data: null,
						defaultContent: ""
					},
					{data: "uid"},
					{data: "name", "orderable": false},
					{data: "phone", "orderable": false},
					{data: "device"},
					{data: "location", render: function(data,type,row) {
						return row.location + " (" + row.tz + ")";
					}, "orderable": false},
					{data: "availability", "orderable": false},
					{data: "assigned_to"},
					{data: "assigned_by"},
					{
						data: null,
						defaultContent: "",
						render: function(data, type, row) {
							if(row.uid == "#{{@current_user.uid}}" && type == 'display' && row.status == 0) {
								return "<a class='btn btn-warning btn-forfeit btn-sm' href='/assignment/forfeit/"+row.id+"' data-remote='true' data-confirm='Are you sure you want to cancel this shift?'><i class='fa fa-times'></i>&nbsp;Give Up</a>";
							}
						},
						"orderable": false
					}
				],
				"createdRow": function(row, data, index) {
					$('td', row).eq(0).html(index + 1); // Add index column
					$(row).attr('data-id', data.id); // Add ID to row
					switch(data.status) {
						case 1: // claimed
							$(row).addClass('claimed');
							break;
						case 2: // assigned
							$(row).addClass('assigned');
							break;
						case 3: // cancel
							$(row).addClass('cancel');
							break;
						case 4: // missing
							$(row).addClass('missing');
							break;
					}
				},
			};

			var extraParams = $.extend(true,{},firstParams);

			firstParams["ajax"]["data"] = {"type": 1}
			var tableFirst = $('.first').dataTable(firstParams);

			extraParams["ajax"]["data"] = {"type": 2}
			var tableExtra = $('.extra').dataTable(extraParams);

			$(document).on('confirm:complete', "#claim, #missing, #unassign, #reset", function(e, answer) {
				if(answer) {
					var ids = getSelectedIDs();
					if(ids.length == 0) { alert("You must select at least one row."); return false; }
				
					//if(checkOwnership()) { return false; }
					checkOwnership();
				
					var status = $(this).data('status');
					$.post("/assignment/update", {ids: ids, status: status}, function () {
						$(".datatable").DataTable().ajax.reload(null, false);
					});
				}
				return false;
			});

			$(document).on('click', '#assign', function(e) {
				e.preventDefault();
				var ids = getSelectedIDs();
				if(ids.length == 0) { alert("You must select at least one row."); return false; }
				$.post("/assignment/confirm_form", {ids: ids}, function(data) {
					$("#assignModal .modal-content").html(data);
					$("#assignModal").modal('show');
				});
			});

		});

		$(document).on('submit', '#assignModal form', function(event) {
			event.preventDefault();
			$.post($("#assignForm").attr('action'), $("#assignForm").serialize()).done(function () {
				$("#assignModal").modal('hide');
				$("#assignModal").removeData('bs.modal');
				$(".datatable").DataTable().ajax.reload(null, false);
			});
			return false;
		});
		
		$('.modal').on('click', '.cancel', function() {
			$(".datatable").DataTable().ajax.reload(null, false);
			$(e.target).modal('hide');
		});

		// Reset modal
		$(document).on('hidden.bs.modal', '#assignModal', function(e) {
			$(e.target).removeData('bs.modal');
			$('#assignModal').unbind('submit');
		});

		$(document).on('ajax:error', function(e) {
			$("#flash").append(
				$("<div>").addClass("alert alert-danger").html("There was an error!")
			);
		});

		$(document).on('ajax:success', '.btn-forfeit', function(e) {
			$(".datatable").DataTable().ajax.reload(null, true);
			$("#flash").append(
				$("<div>").addClass("alert alert-danger").html("Removed 1 shift for this event!")
			);
			ga('send', {
				hitType: 'event',
				eventCategory: 'Shifts',
				eventAction: 'forfeit',
			});
		});

		$(document).on('ajax:success', '.forfeit-btn', function(e) {
			$($.fn.dataTable.tables()).DataTable().ajax.reload(null, true);
			$(".forfeit-btn").remove();
			$("#flash").append(
				$("<div>").addClass("alert alert-danger").html("Successfully removed all your shifts for this event!")
			);
			ga('send', {
				hitType: 'event',
				eventCategory: 'Shifts',
				eventAction: 'forfeit',
			});
		});

		function setIdleTimeout(callback, seconds) {
			var timeout;
			$(startTimer);

			function startTimer() {
				timeout = setTimeout(callback, seconds*1000);
				$(document).on("mousemove keypress", cancelTimer);
			}

			function cancelTimer() {
				clearTimeout(timeout);
				//since the mouse is moving, we turn off our event hooks for 1 second
				$(document).off("mousemove keypress", cancelTimer);
				setTimeout(startTimer, 1000);
			}
		}

		function refreshTablesTimeout() {
			$(".datatable").DataTable().ajax.reload(null, true);
		}

		setIdleTimeout(refreshTablesTimeout, 60); // Reload once every minute if the user is inactive

		function checkOwnership() {
			var table = $(".datatable").DataTable();
			var exit = false;
			$.each(table.rows('.selected').data(), function(i, data) {
				if(undefined !== data.assigned_by && null !== data.assigned_by && data.assigned_by != "#{{@current_user.uid}}") {
					alert("Careful, one of these records has already been claimed by someone else!");
					exit = true;
					return false;
				}
			});
			return exit;
		}

		function getSelectedIDs() {
			var table = $(".datatable").DataTable();
			var ids = $.map(table.rows('.selected').data(), function(row) {
				return row.id;
			});
			return ids;
		}