.modal-header
	h4= @user.uid
form#userEditForm method="POST" action=url_for(:users, :admin_update, @user.id)
	input type="hidden" name="authenticity_token" value= session[:csrf]
	.modal-body
		.form-group
			label Name
			input.form-control name="user[name]" type="text" required="required" value= @user.name
		.form-group
			label Email
			input.form-control name="user[email]" type="email" required="required" value= @user.email
		.form-group
			label Phone #
			input.form-control#phone name="user[phone]" type="text" required="required" value= @user.phone
		.form-group
			label City and State
			input.form-control name="user[location]" type="text" value= @user.location
		.form-group
			label Device Type
			= select_tag('user[device]', :options => [['Please Select', ''],['Apple / iOS', 'apple'],['Android', 'android'],["Other"]], :required => true, :selected => @user.device, :class => 'form-control')
		.form-group
			label Time Zone
			= select_tag('user[tz]', :options => ['EST','CST','MST','PST','Other'], :required => true, :selected => @user.tz, :class => 'form-control')
	.modal-footer
		button.btn.btn-success type="submit" Update
		a.btn.btn-default.cancel Cancel
	javascript:
		$(function() {
			$("#phone").mask("(999) 999-9999");
		});	