h1 All Users

/ .row
	.col-sm-3
		strong Row Key:
	.col-sm-3 Active
	.col-sm-3.bg-warning Inactive
	.col-sm-3
		i.fa.fa-star> style="color: gold;"
		' User is Admin
	p.clearfix

.row
	.col-md-12
		.table-responsive
			table.table.table-bordered.datatable
				thead
					tr
						th Slack ID
						th Name
						th Email
						th Phone #
						th Device
						th Status
						th

				- @users.each do |u|
					= partial :'user/admin_user_row', :locals => { :u => u }
				tfoot
					tr
						th Slack ID
						th Name
						th Email
						th Phone
						th Device
						th Status
						th

.modal.fade#userModal tabindex="-1" role="dialog"
	.modal-dialog
		.modal-content

- content_for :assets
	= stylesheet_link_tag "https://cdn.datatables.net/buttons/1.1.2/css/buttons.dataTables.min.css"

- content_for(:scripts) do
	= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js", "https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js", "https://cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js", "https://cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"
	javascript:
		$(document).ready(function() {
			$('.datatable').dataTable({
				"dom": "<'row'<'col-sm-2'B><'col-sm-4'l><'col-sm-6'f>>" + "<'row'<'col-sm-12'tr>>" +  "<'row'<'col-sm-5'i><'col-sm-7'p>>",
				buttons: {
					buttons: ['csv','copy'],
					dom: {
						container: {
							className: "btn-toolbar",
						},
						button: {
							className: "btn btn-default",
						}
					}
				}
			});
		});

		$(document).on('show.bs.modal', '#userModal', function(e) {
			var button = $(e.relatedTarget);
			var row = button.parents("tr");
			$('#userModal').one('submit', 'form', function(event) {
				event.preventDefault();
				$.post($("#userEditForm").attr('action'), $("#userEditForm").serialize()).done(function() {
					$.post("#{{url_for("users/get_row")}}/" + row.data('user')).done(function(data) {
						row.replaceWith(data);
						$(e.target).modal('hide');
						$(e.target).removeData('bs.modal');
					});
				});
				return false;
			});
			$('.modal').one('click', '.cancel', function() {
				$(e.target).modal('hide');
			});
		});

		$(document).on('hidden.bs.modal', '#userModal', function(e) {
			$(e.target).removeData('bs.modal');
			$('#userModal').unbind('submit');
		});


		$(document).on('click', '.active-btn', function(event) {
			event.preventDefault();
			var button = $(this);
			var row = $(this).parents('tr');
			$.post(button.attr('href')).done(function() {
				$.post("#{{url_for("/users/get_row")}}/" + row.data('user')).done( function(data) {
					row.replaceWith(data).effect("highlight");
				});
			}).fail(function() {
				$("#flash").append(
					$("<div>").addClass("alert alert-danger").append(
						$("<a>").attr('data-dismiss', 'alert').addClass('close').html("&times;")
					).append(
						$("<strong>").text("Could not update user!")
					).delay(3000).fadeOut()
				);
			});
			return false;
		});

		$(document).on('click', '.admin-btn', function(event) {
			event.preventDefault();
			var button = $(this);
			var row = $(this).parents('tr');
			$.post(button.attr('href')).done(function() {
				$.post("#{{url_for("/users/get_row")}}/" + row.data('user')).done( function(data) {
					row.replaceWith(data).effect("highlight");
				});
			}).fail(function() {
				$("#flash").append(
					$("<div>").addClass("alert alert-danger").append(
						$("<a>").attr('data-dismiss', 'alert').addClass('close').html("&times;")
						).append(
							$("<strong>").text("Could not update user!")
						).delay(3000).fadeOut()
					);
			});
			return false;
		});