.jumbotron
	h1 Welcome to Text for Bernie!
	p You will need to have <a href='https://docs.google.com/document/d/1i8rDMDI5cRTGj2L6aT8gdp5s4DO8xslbuzIJD0mNlZc/pub' target="_blank">signed up and downloaded the app</a> before being able to log in or sign up for a shift.
	p Since we use Slack for authentication, you'll also need to be a member of the <a href='http://organize.berniesanders.com/slack/berniebuilders' target="_blank">berniebuilders slack</a>, too!

.btn-toolbar#start-btn
	- if @current_user || logged_in?
		a.btn.btn-lg.btn-primary href=url_for(:shifts, :index) Sign up for Shifts
	- else
		a.btn.btn-lg.btn-primary href="https://docs.google.com/document/d/1i8rDMDI5cRTGj2L6aT8gdp5s4DO8xslbuzIJD0mNlZc/pub" target="_blank" Sign Up for Text with Bernie
		a.btn.btn-lg.btn-success href="/login" Sign In with Slack
